*{
  
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* user-select: none; */
}

/* html{ 
  font-size: 10px;
 } */

body{
  background-color: #D4F0FC;
}

/* ESTILOS SCROLL INICIO */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
  background-color: #D4F0FC;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
  background-color: #01303F;
  border-right: 1.3px solid #D4F0FC;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(1,48,63,0.9);
  transition: 2s;
}

/* ESTILOS SCROLL FIN */


/*ESTILOS DEL HERO INICIO*/
.header{
  height: 95vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 83%);
  position: relative;
}

.back-black{
  height: 95vh;
  background-color: rgba(0,0,0,0.45);
}
.logo-box{
  position: absolute;
  top: 4rem;
  left: 5rem;
}

.logo{
  height: 120px;
  animation: moveInLeft 0.6s ease-in;
}

.text-box{
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary{
 color: #fff;
 text-transform: uppercase;
 font-family: 'Share Tech', sans-serif;
 margin-bottom: 2rem;
 font-weight: lighter;
 font-size: 50px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }

  80%{
    transform: translate(1rem);
  }

  100%{
    opacity: 1;
    transform: translate(0px);
  }
}

/*
      ANIMACION PARA EL sticky navbar
 @keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }

  80%{
    transform: translate(-1rem);
  }

  100%{
    opacity: 1;
    transform: translate(0px);
  }
} */

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100%{
    opacity: 1;
    transform: translate(0px);
  }
}

.bot{
  background-color: #fff;
  color: #02A9F7;
  width: 300px;
  height: 70px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.bot:link,
.bot:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 23px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.bot:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.bot:active{
  transform: translate(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.bot::after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left:0;
  z-index: -1;
  transition: all .4s;
}

.bot::after{
  background-color: #fff;
}

.bot:hover::after{
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.bot-animated{
  animation: moveInBottom .6s ease-out .25s;
  animation-fill-mode: backwards;
}

/*ESTILOS DEL HERO FIN*/



/* ESTILOS DEL LOGIN - REGISTER INICIO */
.backImg{
  position: absolute;

  width: 45%;
  height: 100vh;
}

.logo-flisol{
  position: absolute;
  height: 86px;


}
.blo a{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 17px;
}

.wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #D4F0FC;
  height: 100vh;
}

.container{
  width: 450px;
  margin: 0px auto;
  padding-top: 120px;
  position: absolute;
}

.signup,
.login
{
  width: 50%;
  background-color: rgba(0,0,0,0.42);
  float: left;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.signup-form,
.login-form{
  background: rgba(0,0,0,0.42);
  padding: 30px 40px;
  clear: both;
  width: 100%;
  box-sizing: border-box;
  height: 400px;
}

.signup-form{
  height: 420px;
  position: relative;
}

.signup-form i, .login-form i{
  position: absolute;
  padding-left: 0px;
  padding-top: 16px;
  font-size: 30px;
  color: #fff;
}

.input{
  width: 100%;
  padding: 10px 40px;
  /* padding-top: 30px; */
  box-sizing: border-box;
  margin: 15px 0px;
  color: #fff;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid #fff;
  transform: all 0.5s ease;
  background-color: transparent;
}

.input::placeholder{
  color: #fff;
}

.input:focus{
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
}

.btn{
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  background: transparent;
  height: 60px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
  font-weight: normal;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
  border: 2px solid #fff;
  border-radius: 10px;
}

.btn:hover{
  transition: 0.4s;
  background-color: #fff;
  color: #000;
}

/* ESTILOS DEL LOGIN - REGISTER FIN */

/* ESTILOS DE "MIS CONFERENCIAS RECIEN CREADA LA CUENTA" INICIO */

.contain-conf-begin{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.titulo{
  color: #01303F;
  font-size: 28px;
  font-family: 'Share Tech', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
}

.begin-conf{
  color: #01303F;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 27px;
  margin-top: 50px;
}

.btn-conferencias{
  background-color: #02A9F7;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  width: 200px;
  margin-top: 50px;
  cursor: pointer;
}

.btn-conferencias:hover{
  background-color: #fff;
  border: 1px solid #02A9F7;
  color: #02A9F7;
  transition: .5s;
}

/* ESTILOS DE "MIS CONFERENCIAS RECIEN CREADA LA CUENTA" FIN */

/* ESTILOS DE AÑADIR CONFERENCIAS INICIO */

.add-conf-titu{
  font-size: 40px;
  margin-top: 20px;
}

.contain-cards{
  display: flex;
  justify-content:space-around;
  margin-top: 50px;
  flex-wrap: wrap;
}

.tarjeta-add-conf{
  width: 400px;
  background-color: #fff;
  /* border: 2px solid blue; */
  border-radius: 10px;
  text-align: center;
  padding: 30px;
  margin-bottom: 40px;
  font-family: 'Lato', sans-serif;
}

.tarjeta-add-conf img{
  width: 340px;
  height: 190.922px;
}
.tarjeta-add-conf h2{
  margin: 15px 0px;
  font-size: 23px;
  font-family: 'Share Tech', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #01303F;
}
.tarjeta-add-conf p{
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
}

.button-cont{
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.button-cont button{
  margin: 0px 30px;
}
.tarjeta-add-conf input[type="checkbox"]{
  background-color: blue;
}

/*checkbox*/
input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.5em;
  position: absolute;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: none;
  border-radius: 0.2em;
  background-color: #fff;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  padding: 0.2em;
  padding-top: 0.1em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
  font-size: 20px;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

/*checkbox*/


/* ESTILOS DE AÑADIR CONFERENCIAS FIN */


/* ESTILOS MIS CONF. POR ASISTIR INICIO*/

  .btn-red{
    background-color: red;
    border: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 200px;
    margin-top: 10px;
    cursor: pointer;
  }

  .btn-red:hover{
    background-color: #fff;
    border: 1px solid red;
    color: red;
    transition: .5s;
  }

/* ESTILOS PARA DESABILITAR BOTONES INICIO */

  .disab{
    background-color: #02A9F7;
    opacity: 0.4;
    cursor: not-allowed;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 200px;
    margin-top: 10px;
  }
  .disab:hover{
    cursor: not-allowed;
  }


/* ESTILOS PARA DESABILITAR BOTONES INICIO FIN */


/* ESTILOS MIS CONF. POR ASISTIR FIN */



/* MEDIA QUERIES INICIO */

@media only screen and (max-width: 480px) {
  .logo{
    height: 80px;

  }
  .text-box{
    top: 43%;
  }
  .logo-box{
    left:2rem;
  }

  .bot{
     width: 230px;
     font-size: 16px;
     height: 55px;
     font-weight: bold;
     padding: 0px;
  }
  .bot:link{
    padding: 0px;
    padding-top: 18px;
  }
  .heading-primary{
    margin-bottom: 4rem;
    font-size: 30px;
  }

}


@media only screen and (min-width: 481px) and (max-width: 768px){
  .backImg{
    width: 100%;
  }
  .logo{
    height: 90px;

  }
  .text-box{
    top: 47%;
  }
  .logo-box{
    left:3rem;
  }
  .heading-primary{
    margin-bottom: 3rem;
    font-size: 38px;
  }
  .bot{
     width: 300px;
     font-size: 21px;
     height: 65px;
  }
  .bot:link{
    padding-top:20px;
  }

}

@media only screen and (min-width: 481px) and (max-width: 768px){
  .backImg{
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 920px){
  .logo{
    height: 120px;
  }
  .logo-box{
    left:3rem;
  }
  .heading-primary-main{
    font-size: 58px;
  }

  .heading-primary-sub{
    font-size: 48px;
  }
  .heading-primary{
    margin-bottom: 5rem;
  }
  .bot{
     width: 300px;
     font-size: 22px;
     height: 65px;
  }
  .bot:link{
    padding-top:20px;
  }

}

/* MEDIA QUERIES PARA EL REGISTER */

@media only screen and (max-width: 480px){
  .backImg{
    width: 100%;
  }
}

@media only screen and (min-width: 1029px) and (max-width: 1234px){
  .backImg{
    width: 53%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1029px){
  .backImg{
    width: 68%;
  }
}
/* MEDIA QUERIES FIN */
