*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #d4f0fc
}

/*-----------------estilos de header---------------------*/
header {
	background-image:url('../img/imgprueba.jpg');
	background-size: cover;
	height: 500px;
}

.logofli{
	padding-top: 50px;
	padding-left: 50px
}

header .tittle{
	text-align: center;
	font-size: 400%;
	color: #fff;
}

.tittle a {
	text-decoration: none;
	color: #02a9f7;
	background: #fff;
	border-radius: 100px;
	font-size: 25px;
	text-align: center;
	padding: 15px 10px;
	box-shadow: 0px 2px 2px #fff ;
}

/*.tittle a:hover{
	box-shadow: 0px 2px 0px #1d64a6;
}*/

.tittle a:active {
	box-shadow: none;
}


ul {list-style-type: none;}


ul li a {
	text-decoration: none;
	color: #fff;
	font-size:25px;
}

.menu li a:hover{
	color:#02a9f7;
}
/*-------------------estilos parte que es flisol?-------------------------*/

.ques {
	text-align: center;
	padding: 10% 15%
}

h2 {
	text-align: center;
	font-size: 50px;
}

.ques p{
	font-size:30px
}

/*-----------------------------estilos de conferencias y talleres--------------------------------------------*/
#conf{
	margin-top: 90px;
}

#tall{
	margin-top: 90px;
}

.card {
	height: 400px;
	margin: 70px;
	background-color: red;
	border-radius: 10px;
  position: relative;
  display: block;
	font-size:16px;
}

.tittle{
	font-size: 20px;
	color: #d4f0fc;
}

.texto-izq{
	position: absolute;
    top: 0px;
    right: 10px;
    color: #d4f0fc
}

.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #d4f0fc;
}

.card img {
	width:100%;
	height: 400px;
	background-color: red;
	border-radius: 10px;
	text-align: center;
	display: block;

}

/*-----------------------------ESTILOS BARRA DE REGISTRO-------------------------------*/
.registro {
	background-color: #01303f;
	height: 100px;
	margin-top: 10px;
	width:100%;
}

.registro a {
	float: right;
	margin:30px 50px;
	text-decoration: none;
	color: #02a9f7;
	background: #fff;
	border-radius: 100px;
	text-align: center;
	padding: 10px 10px;
	box-shadow: 0px 2px 2px #fff ;
}

/*---------------------------------comparaciones--------------------------*/

#app {
	margin-top: 100px;
	font-size: 60px;
	text-align: center;
}

.comp {
	/* margin-top: 100px; */
	font-size: 60px;
	text-align: center;
}

.acordeon {
	width: auto;
	margin: 10px 15%;

}

.acordeon li a{
	color: #fff;
	display: block;
	padding: 15px 20px;
	background: #01303f;

}


.acordeon li a:hover{
	background: #1a95d5;
	color: #fff;
}

.acordeon .icono {
	font-size: 12px;
	line-height: 18px;
}

.acordeon .icono.izquierda {
	float: right;
	margin:10px;
	font-size: 20px
}

.acordeon li ul {
	display: none;
}

.acordeon li ul {
	background: #fff;
	color: #02577a;
	padding: 40px;
	text-align:center;
	font-size: 20px;
	list-style-type: disc;
	list-style-position: inside;
}


.acordeon li ul img {
	float: left;
	padding-top: 5px;
	padding-bottom: 20px;
	padding-right: 20px;
	height: 100px;
}

/*----------------------estilos organizadores--------------------------*/

#org {
	text-align: center;
	font-size: 60px;
	margin: 100px;

}

.orga p {
	margin-bottom: 40px;
		font-size: 20px;
		text-align: center;
		color: #02577a;
}
.orga img {
	width: 150px;
	height: 150px;
	margin: 20px;
	border-radius: 50%;
	display: block;
 	margin-left: auto;
  	margin-right: auto;

}

/*-------------------------------estilos Desarroladores--------------------*/


#desa p{
	text-align: center;
	font-size: 60px;
	margin: 100px;

}

.des p {
	background: #1a95d5;
	font-size: 30px;
	text-align: center;
	color: #fff;
	width: 45%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -33px; 
}

.des img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.normal {
	font-size: 40px;
	text-align: center;
	color:  #02577a;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -40px;
}


/*-------------------------------------estilos FOTTER---------------------------------*/

footer {
	width: 100%;
	height: auto;
	background:  #01303f;
	color: #d4f0fc;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	margin-top: 30px;
	padding-top: 30px;
}


.redes{
	font-size: 35px
}


.insta {
	font-size: 50px;
	color: #d4f0fc;
	margin: 40px
}

.face {
	font-size: 50px;
	color: #d4f0fc;
	margin: 40px
}
